.card {
  border: 4px solid transparent;
  border-radius: 16px;
  padding: var(--unit-6);

  @media (--tablet-viewport) {
    padding: var(--unit-8);
  }
}

.title {
  font-size: 18px;
  color: var(--color-pearl);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.primary {
  background-color: var(--color-darkGray-2);
}

.secondary {
  border-color: var(--color-darkGray-2);
}
