.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin-bottom: 120px;
}

.logo {
  color: var(--color-pearl);
  flex: 0 0 auto;
}

.navWrapper {
  --gap: 32px;

  display: flex;
  justify-content: center;
  flex: 1 0 auto;
  gap: var(--gap);

  @supports not (gap: var(--gap)) {
    & * + * {
      margin-left: var(--gap);
    }
  }
}

.walletWrapper {
  flex: 0 0 auto;
}

.navLink {
  color: var(--color-pearl);
  font-weight: bold;
  background-color: transparent;

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;
  padding: 12px 16px;
  border-radius: 500px;

  border: 1px solid transparent;

  &.isActive {
    border-color: var(--color-pearl);
  }

  @media (--small-viewport) {
    background: blue;
  }
}

/* .navLink:focus {
  outline: 1px solid;
} */

/* .navLink.isActive {
  border-color: var(--color-pearl);
} */
