:root {
  --color-pearl: #faf1e4;
  --color-darkPearl: #dad2c7;
  --color-red: #ed4e33;
  --color-darkRed: #a04232;
  --color-yellow: #edcd5b;
  --color-darkGray-1: #0b0a09;
  --color-darkGray-2: #2d2925;
  --color-darkGray-3: #4f4740;
  --color-darkGray-4: #70655c;
  --color-darkGray-5: #918378;
}
